body {
  margin: 0;
  overflow: hidden;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y:scroll; 
  height: 100%;
}

/* 
------------ 
UNIVERSAL 
------------ 
*/
  .bg--container--1 {
    background: url("./images/bg--1.svg");
  }
  .main--wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

/* Labels */
.label { 
  font-size: 18px; 
  padding: 15px 0; 
  margin: 0; 
  font-weight: 900; 
  user-select: none; 
}

/*
------------  
HOME.JS 
------------ 
*/
  .home--links {
    color: white !important;
  }
    .home--links:hover {
      color: white !important;
      text-decoration: none;
    }

/* 
------------ 
QUESTIONS.JS 
------------ 
*/
    /* My Questions div */
    .myQuestions button { 
      float: right; 
      border: none;  
      outline: none !important; 
    }

/* 
------------ 
QUESTIONSMODAL.JS 
------------ 
*/
    .modal-body {
      white-space: pre-wrap;      /* CSS3 */   
      white-space: -moz-pre-wrap; /* Firefox */    
      white-space: -pre-wrap;     /* Opera <7 */   
      white-space: -o-pre-wrap;   /* Opera 7 */    
      word-wrap: break-word;      /* IE */
    }

/* 
------------ 
QUIZ.JS 
------------ 
*/
  .quiz-header { padding: 75px 0; }
  .quiz-questionBox { padding-top: 75px; }
  .quiz-questionBox p { margin: 0; padding: 0 !important; }

/* 
------------ 
QUIZENTER.JS 
------------ 
*/
  .quizenter--container-1 {
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
  }

/*
------------ 
QUIZRESULT.js 
------------ 
*/


/*
------------ 
QUIZCOMPLETE.JS
------------ 
*/
  .quizComplete-header { text-align: center; padding-top: 75px; }
  .quizComplete-header h1 { font-weight: 900; font-size: 50px; }
  .quizComplete-header h2 { font-weight: 500; font-size: 18px; }
  .quizComplete-body { padding-top: 75px; margin: auto; width: 400px; }
  .quizComplete-body div { width: 100%; text-align: center; padding: 0; left: 15px;}
  .quizComplete-body button { 
    width: 100%; 
    height: 100px; 
    border: none;
    outline: none !important;
    font-weight: 900;
    font-size: 18px;
    color: white;
    transition: .5s background-color;
  }

/* Query for extra small devices */
@media only screen and (max-width: 320px) {
  /* universal css */
  .label { font-size: 16px; }
  /* home */
  .home--container-1 { padding-bottom: 5rem; }
  /* questions */
  .questions--container-1 { padding-bottom: 6rem; }
  .questions-header { padding: 20px 0; }
  .modal-body { font-size: 14px; }
  /* quiz */
  .quizenter--container-2 { padding-bottom: 3.5rem; }
  .quiz-header { padding: 20px 0; }
  #quizResult-form { padding-top: 35px; }
  .quiz-answerBox { padding-top: 35px; }
  .quizComplete-body { width: 200px; }
  .quizComplete-header { padding-top: 20px; }
  .quizComplete-header h1 { font-size: 40px; }
} 

/* Query for small devices */
@media only screen and (max-width: 489px) and (min-width: 321px) {
  /* universal css */
  .label { font-size: 16px; }
  /* questions */
  .modal-body { font-size: 14px; }
  /* quiz */
  .quiz-header { padding: 35px 0; }
  #quizResult-form { padding-top: 35px; }
  .quiz-answerBox { padding-top: 35px; }
  .quizComplete-body { width: 250px; }
  .quizComplete-header { padding-top: 20px; }
}

/* Query for small devices */
@media only screen and (max-width: 550px) and (min-width: 490px) {
  .quizComplete-body { width: 400px; }
}